body {
  background: radial-gradient(circle, rgba(223,223,226,1) 0%, rgba(233,223,226,1) 35%, rgba(233,233,226,1) 100%);
}

main, article, section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

section img {
  border-radius: .5rem;
  box-shadow: 0 0 64px 10px rgba(0,0,0,.15);
  filter: grayscale(80%);
  transition: filter 1s ease-in-out;
  border: 1px solid #bbb;
  padding: 5px;
}

section img:hover {
  filter: grayscale(0);
}
