<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Warrior</title>
    <link rel="stylesheet" href="tufte.css"/>
    <link rel="stylesheet" href="latex.css"/>
    <link rel="stylesheet" href="custom.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <article>
      <h1 id="tufte-css">Warrior</h1>
      <p class="sans" style="padding: 3rem 1rem;">
        To My Friends,<br>
        A Warrior is She that thrives and triumphs where’er She be.

      </p>

      <section class="toc">
        <h2 class="toc-title">Table Of Contents</h2>

        <ul class="toc-list">
        {{#each links}}
          <li class="toc-item"><a href="{{href}}">{{title}}</a></li>
        {{/each}}
        </ul>

      </section>

      <section>
        <p>
          <a href="changelog.html">Changelog</a> &middot; <a href="https://github.com/catpea/warrior/issues">Bugs &amp Issues</a>
        </p>
      </section>

    </article>
  </body>
</html>
