body {
  background: radial-gradient(circle, rgba(223,223,226,1) 0%, rgba(233,223,226,1) 35%, rgba(233,233,226,1) 100%);
}

section {
  margin-bottom: 5rem;
}

.lg {
  font-size: 3rem;
}



section h2 {
  width: 55%;
  line-height: 3rem;
}

section img {
  border-radius: .5rem;
  box-shadow: 0 0 64px 10px rgba(0,0,0,.15);
  filter: grayscale(80%);
  transition: all 1s;

  border: 1px solid #bbb;

  padding: 5px;

}

section img:hover {
  filter: grayscale(0);
}










.toc {

}
.toc-title {
 margin-bottom: 3rem;
}

.toc-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.toc-item {
  line-height: 4rem;
  margin-left: 3rem;
}
