<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Warrior</title>
  {{> stylesheet}}
  {{> script}}
  <script src="js/theme.js"></script>
  <script src="js/jquery-3.5.0.min.js"></script>
  <script src="js/theme-switch.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <main>
    <hgroup>
      <h1>Warrior</h1>
      <h2>Growing All The Way Up, Until We Become Great Beings</h2>
    </hgroup>

    <article>
      <p>For My Friends,</p>
      <p>A Warrior is She that thrives and triumphs where’er She be.</p>
    </article>

    <article>
      <h2>Table Of Contents</h2>
      <ul>
        {{#each links}}
          <li><a href="{{href}}">{{title}}</a></li>
        {{/each}}
      </ul>
    </article>

  </main>


  <footer>

    <details class="color-mode" style="display: none;">
      <summary>Color Mode</summary>
      <nav>
        <ul>
          <li class="theme-switcher"></li>
          <li class="theme-switcher-reset"></li>
        </ul>
    </nav>
    </details>

    <nav>
      <ul>
        <li><a href="changelog.html">Changelog</a></li>
        <li><a href="https://github.com/catpea/warrior/issues">Bugs &amp Issues</a></li>
      </ul>
    </nav>
  </footer>

</body>
</html>
